<div id="chat-list">
  <div id="chat-scroller">
    <table cellspacing="0" cellpadding="0">
      <tr>
          <td>
          </td>
          <td class="chat-title">
              Czat
          </td>
          <td class="chat-title" id="chat-close">
              X
          </td>
      </tr>
      <% users.each_with_index do |user, index| %>
        <tr>
          <td><%= index +=1 %>.</td>
          <td><%= (user.username.blank? ? user.email.upcase : user.username.upcase) %></td>
          <td>
            <%= link_to "Napisz", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" => user.id %>
          </td>
        </tr>
      <% end %>
    </table> 
  </div>
</div>