<div class="page-prompt">
  <p class="page-prompt-content">
    <p class="page-prompt-welcome">Witamy ponownie!</p>
    Cieszymy się, że wróciłeś, dlatego dostajesz od nas 5 dodatkowych punktów!
  </p>
  <%= link_to 'Super!', 'javascript:void(0);', :class => "page-prompt-awesome" %>
  <span class="page-prompt-close">
    X
  </span>
</div>
<script>
  $('.page-prompt-close').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('.page-prompt-awesome').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });
</script>
