<div class="page-header">
          <%= image_tag "warunek-logo-blk.png", id: 'cup-logo' %>
	  <div class="page-header-logo-menu" style="display:none;">
	       <ul>
	          <li onclick="aboutUsPrompt();">
		    O nas
		  </li>
	       </ul>
	  </div>
	  <div class="page-header-actions">
	       <ul>
	         <li>
		   <span class="btn info-red">Uwaga! Strona znajduje się w fazie testów. Wszelkie uwagi, błędy itp. prosimy zgłaszać na adres <%= mail_to 'zbieramnawarunek.pomoc@gmail.com' %></span>
		 </li>
	       </ul>
	  </div>
          <div class="page-header-login">
            <% if current_user.nil? %>
              <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <%= f.text_field :email, placeholder: 'Login' %>
                  <%= f.password_field :password, placeholder: 'Hasło' %>
                  <%= f.submit 'Zaloguj' %>
              <% end %>
              <%= link_to 'Rejestracja', 'javascript:void(0);', :class => 'btn', :onclick => 'registerUser();'  %>
              <%= link_to 'Zresetuj hasło', 'javascript:void(0);', :class => 'btn', :onclick => 'remindPassword();'  %>
            <% else %>
              Witaj, <%= current_user.first_name %>!<br/>
	      <%= link_to 'Wyloguj', destroy_user_session_path, :method => :delete, :class => 'btn' %>
	      <%= link_to 'Edytuj', 'javascript:void(0);', :class => 'btn', :onclick => 'editUser();' %>
            <% end %>
          </div>
</div>
<div class="black-bg"></div>
<script>
  $(function() {
    $( document ).tooltip();
  });

  $('.page-header-actions ul li').click(function() {
    $('.action-content').show();
  });

  $('.action-content').click(function() {
    $('.action-content').hide();
  });

  <% if current_user.present? %>
  function editUser() {
    $('.black-bg').show();
    $.ajax({
      type: 'POST',
      url: '<%= edit_user_prompt_path(:user_id => current_user.id) %>'
    });
  }

  <% end %>

  function registerUser() {
    $('.black-bg').show();
    $('.black-bg').append('<%= escape_javascript( render :partial => 'users/register_prompt' ) %>');
  }

  function remindPassword() {
    $('.black-bg').show();
    $('.black-bg').append('<%= escape_javascript( render :partial => 'password_resets/reset_password' ) %>');
  }
  
  $('#cup-logo').mouseenter(function(){
    $('.page-header-logo-menu').show();
  });

  $('.page-header-logo-menu').mouseleave(function(){
    $('.page-header-logo-menu').hide();
  });

  function aboutUsPrompt() {
    $('.black-bg').show();
    $('.black-bg').append('<%= escape_javascript( render :partial => 'layouts/about_us_prompt' ) %>');
  }
</script>