<div id="user-panel">
  <p class="user-level">
     <span id="user-level-name"><%= @user.level.name %></span>
  </p>
  <p class="user-status">
     <span id="user-status-name"><%= @user.status.name %></span>
  </p>
  <p class="user-counter">
     <span id="user-coins"><%= @user.coins.to_i %></span>
  </p>
  <% if @user.avatar.exists? %>
     <%= image_tag @user.avatar.url, :id => 'user-avatar' %>
  <% end %>
  <span id="user-login"><%= @user.login %></span>
</div>