<% if @user.will_receive_bonus? %>
  <%= render partial: 'page_prompt' %>
<% end %>
<div class="page-content bg-tree">
    <div class="main">
      <%= render partial: 'page_header' %>
<% if false %>
      <div class="notebook notebook-closed">
        <div class="notebook-tab-inactive">
          <div class="notebook-tab-about-inactive notebook-tab-icon">
          </div>
        </div>
        <div class="notebook-tab-inactive">
          <div class="notebook-tab-money-inactive notebook-tab-icon">
          </div>
        </div>
        <div class="notebook-tab-inactive">
          <div class="notebook-tab-work-inactive notebook-tab-icon">
          </div>
        </div>
        <div class="notebook-tab-inactive">
          <div class="notebook-tab-fb-inactive notebook-tab-icon">
          </div>
        </div>
      </div>

      <div class="notebook notebook-open">
        <div class="notebook-tab notebook-tab-active">
          <div class="notebook-page notebook-about"></div>
          <div class="notebook-tab-about-active notebook-tab-icon">
          </div>
        </div>
        <div class="notebook-tab notebook-tab-inactive">
          <div class="notebook-tab-money-active notebook-tab-icon">
          </div>
        </div>
        <div class="notebook-tab notebook-tab-inactive">
          <div class="notebook-tab-work-active notebook-tab-icon">
          </div>
        </div>
        <div class="notebook-tab notebook-tab-inactive">
          <div class="notebook-tab-fb-active notebook-tab-icon">
          </div>
        </div>
      </div>
      <% end %>
      <%= image_tag '001.png', id: 'coin' %>
      <%= render partial: 'user_panel', locals: { user: @user } %>
      <div id="user-status-prompt">
      </div>
    </div>
</div>
<div class="grass-bottom">
  <div id="chat-open">Czat</div>
  <div class="grass-gfx"></div>
  <%= image_tag 'kubek_kucharz1.png', :class => 'main-cup-gfx' %>
  <div class="main-cup"></div>
</div>
<%#= render :partial => 'chat', :locals => { :users => User.all } %>
<script>
    var levels = [<%= raw(Level.all.map{ |l| "'#{l.name}'" }.join(',')) %>];
    var statuses = [<%= raw(Status.all.map{ |s| "'#{s.name}'" }.join(',')) %>];
    var coin_amount = [0, 10, 25, 50, 100, 200, 500, 1000, 5000, 10000, 20000, 50000, 100000, 500000, 1000000];

    var rank = -1;
    window.onLoad = Prep();
    window.onunload = sendCoins;

    setInterval( sendCoins, 30000 );

    var currentCoins = 0;

    function sendCoins() {
      $.ajax({
        url: '<%= raw add_coins_path(:uuid => @user.uuid) %>&amount=' + currentCoins,
        type: 'POST'
      });
      currentCoins = 0;
    }

    function Prep(){
        window_Height = window.innerHeight;
        window_Width = window.innerWidth;

        image_Element = document.getElementById("coin");
        image_Height = image_Element.clientHeight;
        image_Width = image_Element.clientWidth;

        availSpace_V = window_Height - image_Height - 400;
        availSpace_H = window_Width - image_Width - 500;

        moveImage();

    }

    function moveImage(){
        var randNum_V = Math.round(Math.random() * availSpace_V) + 200;
        var randNum_H = Math.round(Math.random() * availSpace_H) + 250;

        image_Element.style.top = randNum_V + "px";
        image_Element.style.left = randNum_H + "px";
    }

    function countRank(rank) {
      var coins = parseInt($('#user-coins').text());
      if(coin_amount[rank+1] == coins+1) {
        rank += 1;
        $('#user-status-prompt').text('Wow! Gratulujemy kolejnego poziomu!');
        $('#user-status-prompt').fadeIn("slow", function() {
          setTimeout(function(){
            $('#user-status-prompt').fadeOut("slow");
          }, 3000);
        });
      }
      $('#user-coins').text(coins + 1);
      $('#user-level-name').text(levels[rank/5]);
      $('#user-status-name').text(statuses[rank%5]);
      currentCoins = currentCoins + 1;
      moveImage();

      return rank;
    }

    $(document).ready(function() {
      var coins = parseInt($('#user-coins').text());

        for(var i = 0; i < coin_amount.length; i++){
  	  if(coins >= coin_amount[i]) {
            rank++;
          } else {
            break;
          }
        }
        $('#user-level-name').text(levels[rank/5]);
        $('#user-status-name').text(statuses[rank%5]);

        $('#coin').draggable();
      $( ".main-cup" ).droppable({
        drop: function() {
          rank = countRank(rank);
        }
      });
    });

    $('#chat-close').click(function(){
      $('#chat-list').hide();
      $('#chat-open').show();
    });

    $('#chat-open').click(function(){
      $('#chat-list').show();
      $('#chat-open').hide();
    });


    $('.notebook-tab-inactive').click(function(){
      $('.notebook').animate({
        left:"-=200px"
      }, 200, function(){});
    });
</script>
