<div class="page-content">
	<div>
		<%= render partial: 'page_header' %>
		<div class="alert-error"></div>
		<div class="hello-center">
			<div class="main-logo">
				<%= image_tag 'intro/1.png', :class => 'main-1' %>
				<%= image_tag 'intro/2.png', :class => 'main-2' %>
				<%= image_tag 'intro/3.png', :class => 'main-3' %>
				<%= image_tag 'intro/4.png', :class => 'main-4' %>
				<%= image_tag 'intro/5.png', :class => 'main-5' %>
				<%= image_tag 'intro/6.png', :class => 'main-6' %>
				<%= image_tag 'intro/7.png', :class => 'main-7' %>
				<%= image_tag 'intro/8.png', :class => 'main-8' %>
				<%= image_tag 'intro/9.png', :class => 'main-9' %>
				<%= image_tag 'intro/10.png', :class => 'main-10' %>
				<%= image_tag 'intro/11.png', :class => 'main-11' %>
				<%= image_tag 'intro/12.png', :class => 'main-12' %>
				<%= image_tag 'intro/13.png', :class => 'main-13' %>
				<%= image_tag 'intro/14.png', :class => 'main-14' %>
				<%= image_tag 'intro/15.png', :class => 'main-15' %>
				<%= image_tag 'intro/16.png', :class => 'main-16' %>
				<%= image_tag 'intro/17.png', :class => 'main-17' %>
				<%= image_tag 'intro/18.png', :class => 'main-18' %>
				<%= image_tag 'intro/19.png', :class => 'main-19' %>
				<%= image_tag 'intro/20.png', :class => 'main-20' %>
				<%= image_tag 'intro/21.png', :class => 'main-21' %>
				<%= image_tag 'intro/22.png', :class => 'main-22' %>
				<%= image_tag 'intro/23.png', :class => 'main-23' %>
				<%= image_tag 'intro/24.png', :class => 'main-24' %>
				<%= image_tag 'intro/26.png', :class => 'main-26' %>
				<%= image_tag 'intro/27.png', :class => 'main-27' %>
				<%= image_tag 'intro/logo.png', :class => 'main-image' %>
				<%= image_tag 'intro/kubek.png', :class => 'main-kubek' %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

var timeout = 500;
var fadeTimeout = 100;

$(document).ready(function() {
	<% if @register.present? %>
		registerUser();
		newAccount();
	<% end %>

	<% if @change_password.present? %>
	  function changePassword() {
	    $('.black-bg').show();
	    $('.black-bg').append('<%= escape_javascript( render :partial => 'password_resets/change_password' ) %>');
	  }

	  changePassword();
	<% end %>

	setTimeout(function(){
		$('.main-1').fadeIn(fadeTimeout, function() {
			$('.main-2').fadeIn(fadeTimeout, function() {
				setTimeout(function(){
					$('.main-3').fadeIn(fadeTimeout, function() {
						setTimeout(function(){
							$('.main-19').fadeIn(fadeTimeout, function() {
								$('.main-4').fadeIn(fadeTimeout, function() {
									setTimeout(function(){
										$('.main-5').fadeIn(fadeTimeout, function() {
											setTimeout(function(){
												$('.main-20').fadeIn(fadeTimeout, function() {
													$('.main-6').fadeIn(fadeTimeout, function() {
														$('.main-8').fadeIn(fadeTimeout, function() {
															$('.main-7').fadeIn(fadeTimeout, function() {
																setTimeout(function(){
																	$('.main-21').fadeIn(fadeTimeout, function() {
																		$('.main-9').fadeIn(fadeTimeout, function() {
																			$('.main-10').fadeIn(fadeTimeout, function() {
																				setTimeout(function(){
																					$('.main-11').fadeIn(fadeTimeout, function() {
																						setTimeout(function(){
																							$('.main-22').fadeIn(fadeTimeout, function() {
																								$('.main-12').fadeIn(fadeTimeout, function() {
																									setTimeout(function(){
																										$('.main-23').fadeIn(fadeTimeout, function() {
																											$('.main-13').fadeIn(fadeTimeout, function() {
																												$('.main-24').fadeIn(fadeTimeout, function() {
																													$('.main-kubek').fadeIn(fadeTimeout, function() {
																														setTimeout(function(){
																															$('.main-14').fadeIn(fadeTimeout, function() {
																																$('.main-15').fadeIn(fadeTimeout, function() {
																																	setTimeout(function(){
																																		$('.main-26').fadeIn(fadeTimeout, function() {
																																			$('.main-16').fadeIn(fadeTimeout, function() {
																																				setTimeout(function(){
																																					$('.main-27').fadeIn(fadeTimeout, function() {
																																						$('.main-17').fadeIn(fadeTimeout, function() {
																																							$('.main-18').fadeIn(fadeTimeout);
																																						});
																																					});
																																				}, timeout);
																																			});
																																		});
																																	}, timeout);
																																});
																															});
																														}, timeout);
});
});
});
});
}, timeout);
});
});
}, timeout);
});
}, timeout);
});
});
});
}, timeout);
});
});
});
});
}, timeout);
});
}, timeout);		
});
});
}, timeout);
});
}, timeout);
});
});
}, 1000);
});
</script>