<div class="page-prompt" style="height:120px !important">
  <p class="page-prompt-content">
    <p class="page-prompt-welcome">Zresetuj hasło</p>
		<%= form_for @user, :url => password_reset_path(@user.id), :method => :put do |f| %>
      <div class="form-field">
        <%= f.label :password, 'Hasło' %>
        <%= f.password_field :password %>
      </div>
      <div class="form-field">
        <%= f.label :password_confirmation, 'Potwierdzenie' %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="form-actions"><%= f.submit "Zapisz" %></div>
		<% end %>
	<span class="page-prompt-info" style="display:none;">
    Zaktualizowano hasło
  </span>
	</p>
	<span class="page-prompt-close">
    X
  </span>
</div>
<script>
  $('.page-prompt-close').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('.page-prompt-awesome').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('#reset-password-form').submit(function() {
  	$('.page-prompt-info').show();
  });
</script>