<div class="page-prompt" style="height:120px !important">
  <p class="page-prompt-content">
    <p class="page-prompt-welcome">Zresetuj hasło</p>
		<%= form_tag password_resets_path, :method => :post, :id => 'reset-password-form' do %>
		  <div class="form-field">
		    <%= label_tag :email %>
		    <%= text_field_tag :email, params[:email] %>
		  </div>
		  <div class="form-actions"><%= submit_tag "Zresetuj hasło" %></div>
		<% end %>
	<span class="page-prompt-info" style="display:none;">
    Wysłano e-mail z możliwością zmiany hasła
  </span>
	</p>
	<span class="page-prompt-close">
    X
  </span>
</div>
<script>
  $('.page-prompt-close').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('.page-prompt-awesome').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('#reset-password-form').submit(function() {
  	$('.page-prompt-info').show();
  });
</script>