<%= form_tag password_resets_path, :method => :post do %>
  <div class="form-field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Zresetuj hasło" %></div>
<% end %>