<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :gender_id %><br />
    <%= f.radio_button :gender_id, 0 %>
    <%= f.label :gender_id, "M", :value => '0' %>
    <%= f.radio_button :gender_id, 1 %>
    <%= f.label :gender_id, "K", :value => '1' %>
  </div>

  <div class="field">
    <%= f.label :university_id %><br />
    <%= f.text_field :university_id, :class => 'universities' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  var availableTags = [<%= raw(University.all.map{|u| "'#{u.name}'" }.uniq.join(',')) %>];
  $('.universities').autocomplete({
    source: availableTags
  });
</script>
