<div class="page-prompt" style="height:220px !important; margin-top: -140px !important">
  <p class="page-prompt-content">
    <p class="page-prompt-welcome">Edycja użytkownika</p>
    <%= form_for user do |f| %>
    <p class="form-field">
      <%= f.label :username, 'Nick:' %>
      <%= f.text_field :username %>
    </p>
    <p class="form-field">
      <%= f.label :first_name, 'Imię:' %>
      <%= f.text_field :first_name %>
    </p>
    <p class="form-field">
      <%= f.label :last_name, 'Nazwisko:' %>
      <%= f.text_field :last_name %>
    </p>
    <p class="form-field">
      <%= f.label :gender_id, 'Płeć:' %>
      <span class="radio-option">
        <%= f.radio_button :gender_id, 0 %>
        <%= f.label :gender_id, "M", :value => '0' %>
      </span>
      <span class="radio-option">
        <%= f.radio_button :gender_id, 1 %>
        <%= f.label :gender_id, "K", :value => '1' %>
      </span>
    </p>
    <p class="form-field">
      <%= f.label :university_id, 'Uczelnia:' %>
      <%= f.select :university_id, University.group(:name).order(:name).map{|u| [ u.name, u.id ]}, { :include_blank => true, :selected => user.university_id }, { :class => 'universities' } %>
    </p>
    <p class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
    <p class="form-field">
      <%= f.label :password, "Nowe hasło:" %>
      <%= f.password_field :password, autocomplete: "off" %>
    </p>
    <p class="form-field">
      <%= f.label :password_confirmation, "Potwierdzenie:" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </p>
    <p class="form-actions">
      <%= f.submit "Zapisz" %>
    </p>

    <% end %>
  </p>
  <% if false %>
  <%= link_to 'Super!', 'javascript:void(0);', :class => "page-prompt-awesome" %>
  <% end %>
  <span class="page-prompt-close">
    X
  </span>
</div>
<script>
  $('.page-prompt-close').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('.page-prompt-awesome').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });
</script>
