<div class="page-prompt" style="height:270px !important; margin-top: -140px !important">
  <p class="page-prompt-content">
    <p class="page-prompt-welcome">Tworzenie konta</p>
    <%= form_for @user do |f| %>
    <p class="form-field">
      <%= f.label :username, 'Nick:' %>
      <%= f.text_field :username %>
    </p>
    <p class="form-field">
      <%= f.label :first_name, 'Imię:' %>
      <%= f.text_field :first_name %>
    </p>
    <p class="form-field">
      <%= f.label :last_name, 'Nazwisko:' %>
      <%= f.text_field :last_name %>
    </p>
    <p class="form-field">
      <%= f.label :gender_id, 'Płeć:' %>
      <span class="radio-option">
        <%= f.radio_button :gender_id, 0 %>
        <%= f.label :gender_id, "M", :value => '0' %>
      </span>
      <span class="radio-option">
        <%= f.radio_button :gender_id, 1 %>
        <%= f.label :gender_id, "K", :value => '1' %>
      </span>
    </p>
    <p class="form-field">
      <%= f.label :university_id, 'Uczelnia:' %>
      <%= f.select :university_id, options_for_select(University.group(:name).order(:name).map{|u| [ u.name, u.id ]}), :include_blank => true, :class => 'universities' %>
    </p>
    <p class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
    <p class="form-field">
      <%= f.label :password, "Nowe hasło:" %>
      <%= f.password_field :password, autocomplete: "off" %>
    </p>
    <p class="form-field">
      <%= f.label :password_confirmation, "Potwierdzenie:" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </p><br/>
    <p class="form-actions">
      <%= check_box_tag 'terms' %> Zgadzam się z postanowieniami <%= link_to 'Regulaminu', '/regulamin.pdf' %>.
    </p><br/>
    <p class="form-actions">
      <%= f.submit "Zapisz" %>
    </p>

    <% end %>
  </p>
  <span class="page-prompt-close">
    X
  </span>
  <script>
    function validateForm() {
      var valid = true;
      $('.form-field input').each(function () {
          if ($(this).val() === '') {
              valid = false;
              return false;
          }
      });
      return valid
    }

    $('#new_user').submit(function(e){
      if(!validateForm()) {
        alert("Uzupełnij wszystkie pola.");
	e.preventDefault();
      } else if(!$('#terms').is(':checked')) {
        alert("Musisz potwierdzić zapoznanie się z Regulaminem.");
        e.preventDefault();
      }
    });
  </script>
</div>
<script>
  $('.page-prompt-close').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('.page-prompt-awesome').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });
</script>
