<div class="page-prompt">
  <p class="page-prompt-content">
    <p class="page-prompt-welcome">Rejestracja</p>
    <%= link_to "Załóż konto", 'javascript:void(0);', :class => 'btn register-action', :onclick => 'newAccount();' %>
    <%= link_to "Zaloguj przez Facebooka", user_omniauth_authorize_path(:facebook), :class => 'btn register-action' %>
  </p>
  <p class="agreement">
     Logując się przez Facebooka, potwierdzasz zapoznanie się z <%= link_to 'Regulaminem', '/regulamin.pdf' %> i zgodę na jego przestrzeganie.
  </p>
  <span class="page-prompt-close">
    X
  </span>
</div>
<script>
  $('.page-prompt-close').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  $('.page-prompt-awesome').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });

  function newAccount() {
    $('.page-prompt').replaceWith('<%= escape_javascript( render :partial => 'users/new_user_prompt' ) %>');
  }
</script>
