html {
    font-family: "Lato";
}

.main-logo {
    height: 720px;
    margin: 0 auto 0 -70px;
    position: absolute;
    width: 1296px;
}

.main-1 {
    display: none;
    height: 75px;
    left: 130px;
    position: absolute;
    top: 100px;
}

.main-2 {
    display: none;
    height: 75px;
    left: 280px;
    position: absolute;
    top: 80px;
}

.main-3 {
    display: none;
    height: 65px;
    left: 190px;
    position: absolute;
    top: 170px;
}

.main-4 {
    display: none;
    height: 50px;
    left: 105px;
    position: absolute;
    top: 250px;
}

.main-5 {
    display: none;
    height: 70px;
    left: 190px;
    position: absolute;
    top: 310px;
}

.main-6 {
    display: none;
    height: 170px;
    left: 85px;
    position: absolute;
    top: 370px;
}

.main-7 {
    display: none;
    height: 100px;
    left: 190px;
    position: absolute;
    top: 480px;
}

.main-8 {
    display: none;
    height: 55px;
    left: 260px;
    position: absolute;
    top: 450px;
}

.main-9 {
    display: none;
    height: 120px;
    left: 260px;
    position: absolute;
    top: 555px;
}

.main-10 {
    display: none;
    height: 100px;
    left: 390px;
    position: absolute;
    top: 540px;
}

.main-11 {
    display: none;
    height: 95px;
    left: 455px;
    position: absolute;
    top: 540px;
}

.main-12 {
    display: none;
    height: 100px;
    left: 620px;
    position: absolute;
    top: 580px;
}

.main-13 {
    display: none;
    height: 130px;
    left: 900px;
    position: absolute;
    top: 555px;
}

.main-14 {
    display: none;
    height: 150px;
    left: 1040px;
    position: absolute;
    top: 305px;
}

.main-15 {
    display: none;
    height: 90px;
    left: 1200px;
    position: absolute;
    top: 385px;
    z-index: 1;
}

.main-16 {
    display: none;
    height: 120px;
    left: 1055px;
    position: absolute;
    top: 180px;
}

.main-17 {
    display: none;
    height: 105px;
    left: 995px;
    position: absolute;
    top: 50px;
}

.main-18 {
    display: none;
    height: 100px;
    left: 1200px;
    position: absolute;
    top: 55px;
}

.main-19 {
    display: none;
    height: 90px;
    left: 160px;
    position: absolute;
    top: 175px;
}

.main-20 {
    display: none;
    height: 125px;
    left: 135px;
    position: absolute;
    top: 300px;
}

.main-21 {
    display: none;
    height: 140px;
    left: 110px;
    position: absolute;
    top: 495px;
}

.main-22 {
    display: none;
    height: 80px;
    left: 465px;
    position: absolute;
    top: 605px;
}

.main-23 {
    display: none;
    height: 95px;
    left: 845px;
    position: absolute;
    top: 575px;
}

.main-24 {
    display: none;
    height: 85px;
    left: 1080px;
    position: absolute;
    top: 620px;
}

.main-26 {
    display: none;
    height: 105px;
    left: 1170px;
    position: absolute;
    top: 245px;
}

.main-27 {
    display: none;
    height: 105px;
    left: 1180px;
    position: absolute;
    top: 125px;
}

.main-image {
    height: 500px;
    left: 78px;
    position: relative;
    top: 50px;
}

.main-kubek {
    display: none;
    height: 300px;
    left: 1050px;
    position: absolute;
    top: 375px;
}

.btn {
    background-color: #555;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    padding: 3px 7px;
    text-decoration: none;
}

.btn:hover {
    background-color: #999;
}

.page-header {
    background-color: rgba(136,136,136,0.6);
    height: 55px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.page-header-login {
    position: absolute;
    right: 0;
    top: 0;
}
.page-header-login input {
    width: 100px;
    height: 20px;
}

.grass-gfx {
    background-image: image-url("layout_trawa_PRZOD.png");
    background-position: 0 calc(100%);
    background-repeat: repeat-x;
    background-size: 100% auto;
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.main-cup {
    background-size: cover;
    height: 253px;
    margin: -244px auto 0;
    position: relative;
    top: 40px;
    width: 180px;
}

.main-cup-gfx {
    display: block;
    height: 250px;
    margin: 0 auto 0 42%;
    position: relative;
    top: 40px;
}

.hello-center {
    font-size: 32px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 35px;
    width: 1296px;
}

* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
}

.page-content {
    min-height: 100%;
    width: 100%;
}

.bg-tree {
    background-image: image-url("bg-tree-grill2.png");
    background-position: 0 calc(100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -9999 !important;
}

.main {
    overflow:auto;
	padding-bottom: 100px;
}

.grass-bottom {
    background-position: center bottom;
    background-repeat: repeat-x;
    clear: both;
    height: 300px;
    margin-top: -300px;
    position: relative;
    width: 100%;
}

body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

#coin {
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 100;
}

#user-panel {
    background-image: asset-data-url("indeks.png");
    background-size: cover;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    height: 108px;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 75px;
    width: 326px;
}

#user-level-name {
    left: 240px;
    position: absolute;
    top: 20px;
}

#user-status-name {
    left: 240px;
    position: absolute;
    top: 48px;
}

#user-coins {
    left: 240px;
    position: absolute;
    top: 76px;
}

#user-avatar {
  height: 44px;
  left: 65px;
  position: absolute;
  top: 23px;
}

#user-login {
  left: 32px;
  position: absolute;
  text-align: center;
  top: 67px;
  width: 110px;
}

#cup-logo {
    height: 40px;
    left: 5px;
    position: absolute;
    top: 5px;
}

.page-header-actions ul li {
    display: inline;
}

.page-header-actions {
    left: 50px;
    position: absolute;
    top: 10px;
}

.action-content {
    border: 1px solid black;
    border-radius: 0 0 10px;
    padding: 10px;
    position: absolute;
    top: 50px;
}

#chat-open {
    background-color: rgba(136, 136, 136, 0.85);
    border-radius: 25px 25px 0 0;
    bottom: 0;
    color: white;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 130px;
    z-index: 100;
}

#chat-open:hover {
    background-color: rgba(136, 136, 136, 1);
}

#chat-list {
    background-color: rgba(136, 136, 136, 0.6);
    bottom: 1px;
    color: white;
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    font-family: 'Patrick Hand SC', cursive;
    height: 250px;
}

#chat-list #chat-scroller {
    overflow: auto;
    height: 99%;
}

#chat-list .chat-title {
    font-weight: bold;
    text-align: center;
}

#chat-list #chat-close {
    cursor: pointer;
}

#chat-list td {
    border: 1px solid black;
    padding: 1px 3px;
}

#user-status-prompt {
    background-color: #99ff99;
    border: 1px solid green;
    border-radius: 10px;
    display: none;
    height: 45px;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 200px;
    width: 150px;
}

.billboard {
    bottom: 0;
    height: 300px;
    left: 100px;
    position: absolute;
    z-index: -1;
}

.billboard-ad {
    position: absolute;
    left: 33px;
    top: 9px;
    width: 425px;
    height: 160px;
    display: none;
}

.black-bg {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.85);
    z-index: 10000;
}

.page-prompt {
    background-color: white;
    border: 5px solid black;
    border-radius: 50px;
    height: 200px;
    left: 50%;
    margin: -130px -230px;
    padding: 25px;
    position: fixed;
    top: 50%;
    width: 400px;
    z-index: 10001;
}

.page-prompt-welcome {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}

.page-prompt-close {
    background-color: black;
    color: white;
    font-weight: 900;
    margin-right: -220px;
    margin-top: -135px;
    padding: 1px 7px;
    position: fixed;
    right: 50%;
    top: 50%;
}

.page-prompt-awesome {
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin-right: -42px;
    margin-top: 15px;
    padding: 2px 15px;
    position: fixed;
    right: 50%;
    text-decoration: none;
    top: 50%;
}

.ui-menu {
    font-size: 14px;
    width: 300px;
    z-index: 10001;
}

.form-field input[type="text"], .form-field input[type="email"], .form-field input[type="password"], .form-field select {
    position: absolute;
    right: 30px;
    width: 250px;
}

.form-field .radio-option {
    position: relative;
    left: 100px;
}

.register-action {
    display: block;
    height: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.agreement {
    font-size: 12px;
}

#cookie-info {
    background-color: #888;
    bottom: 0;
    padding: 5px;
    position: fixed;
    text-align: center;
    width: 100%;
}

#cookie-info-agree {
    margin-left: 15px;
}

.info-red {
    background-color: #c00;
    font-size: 14px;
}

.info-red:hover {
    background-color: #c00;
}

.info-red a {
    color: white;
}

.page-header-logo-menu {
    background: none repeat scroll 0 0 #aaa;
    border-radius: 0 0 10px;
    color: white;
    position: absolute;
    top: 55px;
    width: 100px;
}

.page-header-logo-menu li {
    padding: 5px;
}

.page-header-logo-menu li:hover {
    background-color: #999;
    cursor: pointer;
}

.page-header-logo-menu li:last-child:hover {
    border-radius: 0 0 10px;
}

.contains-text {
    height: auto;
    margin-left: -390px;
    width: 780px;
}

.contains-text .page-prompt-close {
    margin-right: -400px;
}

.notebook {
    height: 577px;
    position: absolute;
    top: 60px;
}

.notebook-closed {
    background-image: asset-data-url("kajet/zwinietazakladka.png");
    background-size: cover;
    width: 99px;
    z-index: 900;
    display: none;
}

.notebook-open {
    background-image: asset-data-url("kajet/okladkatyl.png");
    background-size: cover;
    width: 509px;
    z-index: 899;
}

.notebook-closed .notebook-tab-inactive {
    background-image: asset-data-url("kajet/zakladkanieaktywna.png");
    height: 118px;
    left: 65%;
    margin-bottom: 21%;
    position: relative;
    top: 3.5%;
    width: 105px;
}

.notebook-open .notebook-tab-inactive {
    background-image: asset-data-url("kajet/zakladkanieaktywna.png");
    height: 118px;
    left: 65%;
    margin-bottom: 21%;
    position: relative;
    top: 3.5%;
    width: 105px;
}

.notebook-about {
    background-image: asset-data-url("kajet/onas.png");
}

.notebook-work {
    background-image: asset-data-url("kajet/jaktodzialatekst.png");
}

.notebook-money {
    background-image: asset-data-url("kajet/skad_kasa.png");
}

.notebook-fb {
    background-image: asset-data-url("kajet/fb.png");
}

.notebook-page {
  background-position: left center;
  background-repeat: no-repeat;
  height: 577px;
  width: inherit;
}

.notebook-tab-about-inactive {
    background-image: asset-data-url("kajet/ikonaonasczarna.png");
}

.notebook-tab-work-inactive {
    background-image: asset-data-url("kajet/jaktodzialaczarna.png");
}

.notebook-tab-money-inactive {
    background-image: asset-data-url("kajet/kasa.png");
}

.notebook-tab-fb-inactive {
    background-image: asset-data-url("kajet/fbcz.png");
}

.notebook-tab-about-inactive:hover {
    background-image: asset-data-url("kajet/ikonaonaszielona.png");
}

.notebook-tab-work-inactive:hover {
    background-image: asset-data-url("kajet/jaktodzialazielona.png");
}

.notebook-tab-money-inactive:hover {
    background-image: asset-data-url("kajet/kasazielona.png");
}

.notebook-tab-fb-inactive:hover {
    background-image: asset-data-url("kajet/fbziel.png");
}

.notebook-tab-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 58px;
    left: 19%;
    position: relative;
    top: 25%;
    width: 58px;
}
