<div class="page-prompt contains-text">
  <p class="page-prompt-content">
    <p class="page-prompt-welcome">O nas</p>
Pierwszą inicjatywą naszego zespołu było stworzenie strony poświęconej w dużej mierze studentom, ale i osobom o innym statusie zawodowym i prywatnym. Na myśli mamy pomoc w uzbieraniu funduszy na tzw. „Warunek”, lecz to nie wszystko, Twoja wygrana- Twoja decyzja, zrób z nią co chcesz!. Możesz ją wymienić na kursy, szkolenia, wakacje!, cele charytatywne to Ty decydujesz na co zamieniasz swój czas poświęcony grze. Jeśli myślisz, że w kółko będziesz musiał przeciągać monetę, to już spieszymy by wyprowadzić Cię z błędu;). To tylko symbol!. Naszą misją jest przenieść Cię w zupełnie nowy świat gier! Będzie budowany specjalnie, na Wasze życzenie. Ale nie to jest najważniejsze, lecz to co Ty z tego masz!. Gry są fajne zabijają czas, rutynę ale jak często coś dają?. No właśnie … i to chcemy zmienić. Realne nagrody za realny czas a przy tym dodatkowy dreszczyk emocji związany z późniejszymi rozgrywkami. Wszystko wymaga czasu, my też go potrzebujemy, ale mogę Ci obiecać że damy z siebie wszystko!
  <span class="page-prompt-close">
    X
  </span>
</div>
<script>
  $('.page-prompt-close').click(function() {
    $('.black-bg').hide();
    $('.page-prompt').hide();
  });
</script>
