<% if @display_cookie_info %>
<div id="cookie-info">
  Ta strona korzysta z plików cookies. <%= link_to 'Rozumiem', 'javascript:void(0);', :id => 'cookie-info-agree', :class => 'btn' %>
  <script>
    $('#cookie-info-agree').click(function() {
      $.ajax({
        type: 'POST',
	url: '<%= set_info_cookie_path %>'
      });
      $('#cookie-info').hide();
    });
  </script>
</div>
<% end %>