<!DOCTYPE html>
<html>
<head>
  <title>Zbieram Na Warunek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <% if true %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58062044-1', 'auto');
  <% if current_user.present? %>
    ga('set', '&uid', '<%= @current_user.uuid %>');
  <% end %>
  ga('send', 'pageview');
 <% end %>
  </script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin-ext' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <!--[if !IE 7]>
  	<style type="text/css">
  		#wrap {display:table;height:100%}
  	</style>
  <![endif]-->
</head>
<body>

<%= yield %>

<%= render :partial => 'layouts/footer' %>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>
</html>
